.header img{
      height: 90px;
      width: auto;
}
.header{
      text-align: center;
}
.header nav{
      background-color: black;
      line-height: 40px;
      font-size: 18px;
      text-align: left;
}
nav a{
      text-decoration: none;
      color: white;
      margin-left: 25px;
}
nav a:hover{
      background-color: rgb(184, 197, 204);
      color: black;
      padding: 8px;
      margin-right: 8px;
}